<mat-toolbar class="header mat-elevation-z12">
  <button mat-stroked-button class="title-group-download v-middle" (click)="endSession()">
    <a>
      <i class="material-icons" style="margin-right: 5px;">
        cloud_download
      </i>
      Baixe MonitorMe
    </a>
  </button>
  <span class="h-middle">
    <a routerLink="dashboard">
      <img class="logo" src="../../../../assets/img/devP.png" alt="Logo">
    </a>
  </span>
  <button mat-mini-fab class="title-group v-middle" (click)="endSession()">
    <a>
      <i class="material-icons">
        settings_power
      </i>
    </a>
  </button>
</mat-toolbar>
