<mat-card-content class="mainContent">
    <div class="large-box mat-elevation-z4">
      <mat-card-content class="mainInstLeft">
        <br>
        <span class="headerInst">MonitorMe</span>
        <br><br><br><br><br>
        <p>Aplicação para controle de desempenho de Hardware nos processos de edição de mídia.</p><br><br>
        <p>Monitore a utilização de componentes durante o fluxo de trabalho.</p><br><br>
        <p>Receba alertas para prevenir a perda de materiais e danos nos equipamentos.</p><br><br>
        <p>Maior performance e segurança em sua rotina de trabalho!</p>
      </mat-card-content>
      <mat-card class="mainInstRight">

      </mat-card>
      </div>
</mat-card-content>