<mat-card>
    <mat-card-title>Bem-Vindo</mat-card-title>
</mat-card>
<mat-grid-list class="mainProfile" cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <mat-card class="profilePic">
    
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <mat-card class="profileData v-middle">

    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="3">
    <mat-card class="profileDataSide v-middle">

    </mat-card>
  </mat-grid-tile >
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <mat-card class="profileDataBottom v-middle">

    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
