<mat-card class="AllLogin mat-elevation-z8">
  <mat-card class="mainLoginLeft">

  </mat-card>
  <mat-card class="mainLoginRight mat-elevation-z8">

    <span>Sentimos sua falta...</span>
    <br><br>
    <div class="h-middle">INICIE SUA SESSÃO</div>
    <mat-card-content>
      <form method="post" #form="ngForm" novalidate (ngSubmit)="signin(form)">
        <mat-form-field class="field">
          <input matInput type="email" placeholder="Email" [(ngModel)]="user.email" name="email">
        </mat-form-field>
        <mat-form-field class="field">
          <input matInput type="password" placeholder="Senha" [(ngModel)]="user.password" name="password">
        </mat-form-field>
        <button mat-raised-button color="primary" class="btnLogin" type="submit">ENTRAR</button>
      </form>
    </mat-card-content>

    <a class="cad" routerLink="/home/cadastro" >
      <i class="material-icons v-middle">
        person
      </i>
      Não possui Conta ainda? <span style="color: #59b9df;">Cadastre-se aqui! </span>
    </a>
  </mat-card>
</mat-card>
